<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
  <dict>
    <key>CFBundleExecutable</key>
    <string>${EXECUTABLE_NAME}</string>
    <key>CFBundleIconFile</key>
    <string></string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleName</key>
    <string>WaveGenerator</string>
    <key>CFBundleDisplayName</key>
    <string>WaveGenerator</string>
    <key>CFBundlePackageType</key>
    <string>XPC!</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0.0</string>
    <key>CFBundleVersion</key>
    <string>1.0.0</string>
    <key>NSHumanReadableCopyright</key>
    <string>Kumar Audio Fx</string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>NSExtension</key>
    <dict>
      <key>NSExtensionPrincipalClass</key>
      <string>WaveGeneratorAUFactoryAUv3</string>
      <key>NSExtensionPointIdentifier</key>
      <string>com.apple.AudioUnit-UI</string>
      <key>NSExtensionAttributes</key>
      <dict>
        <key>AudioComponents</key>
        <array>
          <dict>
            <key>name</key>
            <string>Kumar Audio FX: Waveform Generator</string>
            <key>description</key>
            <string>Generate sine, cosine, triangle, square, or sawtooth waveforms. Based on DST lab problem set</string>
            <key>factoryFunction</key>
            <string>WaveGeneratorAUFactoryAUv3</string>
            <key>manufacturer</key>
            <string>Manu</string>
            <key>type</key>
            <string>aufx</string>
            <key>subtype</key>
            <string>Kosd</string>
            <key>version</key>
            <integer>65536</integer>
            <key>sandboxSafe</key>
            <true/>
            <key>tags</key>
            <array>
              <string>Effects</string>
            </array>
          </dict>
        </array>
      </dict>
    </dict>
  </dict>
</plist>
